<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br />

  <div class="field" style="width: 30rem;">
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <br /> 

  <div>
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
