<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if profile.avatar.attached? %>
    <%= image_tag profile.avatar, size: '100', style: "border-radius: 50%;" %>
  <% else %>
    <img src="https://photo-cdn2.icons8.com/NqCtohJjuX8Rb8yuYNOO07iy9wS6FgUpDZTAmG4o35k/rs:fit:1608:1072/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5l/eHRlcm5hbC9hMmE0/Mi8yMDYzMGNmYzRk/OWY0YTMzYTVjZWZl/MWFmM2Y5MTQwZS5q/cGc.jpg" alt="Close up photo of a cat" width="100" height="100" style="border-radius: 50%;">
    <%# gravatar_image_tag( Profile.find(params[:id]).user.email, gravatar: { size: 100 }, alt: Profile.find(params[:id]).name, style: "border-radius: 50%;") %>
  <% end %>


  <br/>  <br/>
  <div class="field">
    <%= form.file_field :avatar %>
  </div>

  <br/>
  <div class="field" style="width: 30rem;">
    <%= form.text_field :name, class: "form-control" %>
  </div> 
  
  <div class="field" style="width: 30rem; margin-top: 10px;">
    <%= form.text_field :interests, class: "form-control", placeholder: "How interesting are you?" %>
  </div>

  <br /> 

  <div>
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
