<div class="postsindex">

  <h5>Meet and greet</h5>
  <h3><%= @profile.name %>!</h3>


  <%# Add a friend, accept request, cancel request, unfriend button %>
  <% unless current_user.profile.id.to_s  == params[:id].to_s %>
    <div data-turbolinks="false">

      <% unless @friends %>
        <%= form_with url: "/friendships", method: :post do |form| %>
          <%= form.number_field :friend_id, value: params[:id], type: :hidden %>
          <%= form.submit "Add friend", class: "btn btn-success" %>
        <% end %>
      <% end %>

      <% if @friends && @confirmed %> 
        <%= button_to "Unfriend button", friendship_path, method: :delete, class: "btn btn-secondary"%>
      <% end %>

      <% if @fri_inv.present? && !@confirmed %>
        <%= button_to "Accept request", friendship_path, method: :patch, class: "btn btn-success"%>
      <% end %>

      <% if @fri.present? && !@confirmed %>
        <%= button_to "Cancel request", friendship_path, method: :delete, class: "btn btn-light"%>
      <% end %>

    </div>
  <% end %>


  <%# Input field %>
  <% if current_user.profile.id.to_s  == params[:id].to_s %>
    <br />
    <div data-turbolinks="false">
      <%= form_with model: @post, class: "post-input" do |form| %> 
        <%= form.text_field :body, placeholder: "Anything brewing?", class: "form-control", style: "width: 32rem; height: 38px;" %>
        <%= form.number_field :profile_id, value: current_user.profile.id, type: :hidden %>
        <%= form.submit class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>

  <br />


  <%# Generate posts %>
  <% @posts.each do |p| %>
    <div class="card"> <div class="card-body" style="width: 40rem;">
      <h5 class="card-title">
        <%= @profile.name %>
        <span class="card-subtitle mb-2 text-muted" style="font-size: 12px">
          <%= link_to p.created_at.strftime("%b %d, %Y - %l:%M %p"), p, class: "profile-link" %>
        </span>
      </h5>
      <p class="card-text"> <%= p.body %> </p>

      <div class="like-comment">
        <p style="font-size: 11px">Likes: <%= Like.where(post_id: p.id).count %> Comments: 69 </p>
        <div class="post-buttons">
          <% if Like.where(post_id: p.id).where(profile_id: current_user.profile.id).empty? %>
            <%= form_with url: "/likes" do |form| %> 
              <%= form.number_field :profile_id, value: current_user.profile.id, type: :hidden %>
              <%= form.number_field :post_id, value: p.id, type: :hidden %>
              <%= form.submit "Like", class: "btn btn-light" %>
            <% end %>
          <% else %>
            <%= button_to "Unlike", like_path(p.id), method: :delete, class: "btn btn-light"%>
          <% end %>
          <button type="button" class="btn btn-light">Comment</button>
        </div>
      </div>
      
    </div> </div>
    <br />
  <% end %>
</div>

<br /><br />