<div class="postsindex">

  <div data-turbolinks="false">
    <%= form_with model: @post, class: "post-input" do |form| %> 
      <%= form.text_field :body, placeholder: "Anything brewing?", class: "form-control", style: "width: 32rem; height: 38px;" %>
      <%= form.number_field :profile_id, value: current_user.profile.id, type: :hidden %>
      <%= form.submit class: "btn btn-success" %>
    <% end %>
  </div>

  <br />

  <% @posts.each do |p| %>
    <div class="card"> <div class="card-body" style="width: 40rem;">
      <h5 class="card-title">
        <%= link_to p.profile.name, profile_path(p.profile_id), class: "profile-link" %>
        <span class="card-subtitle mb-2 text-muted" style="font-size: 12px">
          <%= link_to p.created_at.strftime("%b %d, %Y - %l:%M %p"), p, class: "profile-link" %>
        </span>
      </h5>
      <p class="card-text"> <%= p.body %> </p>

      <div class="like-comment">
        <p style="font-size: 11px">Likes: <%= Like.where(post_id: p.id).count %> Comments: 69 </p>
        <div class="post-buttons">
          <% if Like.where(post_id: p.id).where(profile_id: current_user.profile.id).empty? %>
            <%= form_with url: "/likes" do |form| %> 
              <%= form.number_field :profile_id, value: current_user.profile.id, type: :hidden %>
              <%= form.number_field :post_id, value: p.id, type: :hidden %>
              <%= form.submit "Like", class: "btn btn-light" %>
            <% end %>
          <% else %>
            <%= button_to "Unlike", like_path(p.id), method: :delete, class: "btn btn-light"%>
          <% end %>
          <button type="button" class="btn btn-light">Comment</button>
        </div>
      </div>
      
    </div> </div>
    <br />
  <% end %>
</div>

<br /><br />