<div class="postsindex">

  <div data-turbolinks="false">
    <%= form_with model: @post, class: "post-input" do |form| %> 
      <%= form.text_field :body, placeholder: "Anything brewing?", class: "form-control", style: "width: 32rem; height: 38px;" %>
      <%= form.number_field :profile_id, value: current_user.profile.id, type: :hidden %>
      <%= form.submit class: "btn btn-success" %>
    <% end %>
  </div>

  <br />

  <% @posts.each do |p| %>

    <%# Main post %>
    <div class="card" id="<% p.id %>"> <div class="card-body" style="width: 40rem;">
      <h5 class="card-title">
        <%= link_to p.profile.name, profile_path(p.profile_id), class: "profile-link" %>
        <span class="card-subtitle mb-2 text-muted" style="font-size: 12px">
          <%= link_to p.created_at.strftime("%b %d, %Y - %l:%M %p"), p, class: "profile-link" %>
        </span>
      </h5>
      <p class="card-text"> <%= p.body %> </p>

      <%# Like Comment counter and buttons %>
      <div class="like-comment">
        <p style="font-size: 11px">
          Likes: <%= Like.where(post_id: p.id).count %>. 
          Comments: <%= Comment.where(post_id: p.id).count %>.
        </p>
        <div class="post-buttons">
          <% if Like.where(post_id: p.id).where(profile_id: current_user.profile.id).empty? %>
            <%= form_with url: "/likes" do |form| %> 
              <%= form.number_field :profile_id, value: current_user.profile.id, type: :hidden %>
              <%= form.number_field :post_id, value: p.id, type: :hidden %>
              <%= form.submit "Like", class: "btn btn-light" %>
            <% end %>
          <% else %>
            <%= button_to "Unlike", like_path(p.id), method: :delete, class: "btn btn-light"%>
          <% end %>
          <%= link_to "See comments", p, class: "btn btn-light" %>
        </div>
      </div>
    
      <%# Last posts %>
      <% if Comment.where(post_id: p.id).count > 0 %>
        <div class = "last-comment">
          <b style="font-size: 12px; justify-self: end;"><%= Profile.find(p.comments.last.profile_id).name %>: </b> 
          <%= p.comments.last.body %>
        </div>
      <% end %>

      <%# Comment box %>
      <div class="comment-box">
        <b style="font-size: 12px; justify-self: end;"><%= current_user.profile.name %>: </b> 

        <%= form_with url: "/comments" do |form| %> 
          <%= form.text_field :body, placeholder: "Write a comment", class: "form-control", style: "width: fill;  border: 0 ;" %>
          <%= form.number_field :profile_id, value: current_user.profile.id, type: :hidden %>
          <%= form.number_field :post_id, value: p.id, type: :hidden %>
          <%= form.submit type: :hidden %>
        <% end %>

      </div>
    </div> </div>
    <br />
  <% end %>
</div>

<br /><br />