<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #004307;">
  <div class="container-fluid">

    <% if user_signed_in? %>
      <%= link_to "Mukhabook", authenticated_root_path , class:"navbar-brand" %>
    <% else %>
      <%= link_to "Mukhabook", unauthenticated_root_path , class:"navbar-brand" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item"> <%= link_to "Find a friend", friends_path, class:"nav-link" %> </li>
          <li class="nav-item"> <%= link_to current_user.profile.name, current_user.profile , class:"nav-link"%> </li>
          <li class="nav-item">
            <% if  Friendship.where(friend_id: current_user.id).where(confirmed: 0).count > 0 %>
              <%= link_to "New friend request!", friendships_path , class:"nav-link new-friend-notif"%>
            <% elsif Friendship.where(user_id: current_user.id).where(confirmed: 0).count > 0 %>
              <%= link_to "Friend requests", friendships_path , class:"nav-link"%>
            <% else %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li> <%= link_to "Edit name", edit_profile_path(current_user.profile.id), class: "dropdown-item" %> </li>
              <li> <%= link_to "Change email/password", edit_user_registration_path, class: "dropdown-item" %> </li>
              <li><hr class="dropdown-divider"></li>
              <li> <%= link_to "Sign Out",  destroy_user_session_path, method: :delete, class:"dropdown-item"%> </li>
            </ul>
          </li>
        <% end %>
      </ul>      
    </div>
  </div>
</nav>
